.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: :"Comic Relief"
}
@font-face {
    font-family: ComicRelief-Regular;
    src: url("../../orionc0re.github.io/main/ComicRelief-Regular.ttf") format('truetype');
    font-weight: regular;
    font-style: normal;
}
